/* You can add global styles to this file, and also import other style files */
/* Import of the variables and mixins used in each of the component style sheets.*/
/* Mixin that applies the flexbox property and modifies the value of the align property */
/*Mixin to set flex align and justification*/
/* Mixin to set position, left, transform, background color, and border radius properties*/
/*Mixin to set flex direction and justification*/
/* Mixin to set background color and border radius*/
/* Mixin to set the color of the letter and the decoration of the text*/
/* Mixin to set width and height*/
/* Mixin to set the type of container position, the property left, top and background color */
/* Mixin to set font size and font color*/
/* Mixin to set position, font color, bottom, right and top */
/* Mixin to set the number of columns and margin*/
/* Mixin to set the top margin, left margin and right margin*/
/* Custom website font */
@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
/* Global styles for the body tag */
body {
  font-family: "Roboto Regular", sans-serif;
  margin: 0px;
  padding: 0px;
}

.footer {
  /* Styles for the footer section*/
  /*Styles for the footer additional information section*/
}
.footer .footer-information {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #E7E6F6;
  padding: 15px;
}
.footer .footer-information .footer-information-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer .footer-information .footer-information-image .footer-information-image__img--desktop {
  display: none;
}
.footer .footer-information .footer-information-image .footer-information-image__img--mobile {
  padding: 10px 0px;
  width: 140px;
}
.footer .footer-information .footer-information-social-media-mobile {
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer .footer-information .footer-information-social-media-mobile .footer-information-social-media-mobile__title {
  font-size: 13px;
}
.footer .footer-information .footer-information-social-media-mobile .footer-information-social-media-mobile-icons .footer-information-social-media-mobile-icons__icon {
  margin-right: 10px;
}
.footer .footer-information .footer-information-travel {
  display: grid;
  grid-template-columns: 1fr;
}
.footer .footer-information .footer-information-travel .footer-information-travel-destinations,
.footer .footer-information .footer-information-travel .footer-information-travel-policy {
  display: flex;
  flex-direction: column;
}
.footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-destinations__title,
.footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-policy__title,
.footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-destinations__title,
.footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-policy__title {
  font-size: 13px;
}
.footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-destinations__link,
.footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-policy__link,
.footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-destinations__link,
.footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-policy__link {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 13px;
}
.footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-destinations__link:hover,
.footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-policy__link:hover,
.footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-destinations__link:hover,
.footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-policy__link:hover {
  color: #537FE7;
}
.footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: flex-start;
}
.footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights {
  display: flex;
  flex-direction: column;
}
.footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights .footer-information-travel-flight-media-container-flights__title {
  font-size: 13px;
}
.footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights .footer-information-travel-flight-media-container-flights__link {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 13px;
}
.footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights .footer-information-travel-flight-media-container-flights__link:hover {
  color: #537FE7;
}
.footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-social-media-desktop {
  display: none;
}
.footer .footer-aditionals {
  background-color: #F1F0FF;
}
.footer .footer-aditionals .footer-aditionals__text {
  padding: 5px 10px;
  color: #9292A0;
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer {
    /* Styles for the footer section*/
    /*Styles for the footer additional information section*/
  }
  .footer .footer-information {
    grid-template-columns: 1fr 1fr;
    background-color: #E7E6F6;
    padding: 10px 0px;
  }
  .footer .footer-information .footer-information-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-information .footer-information-image .footer-information-image__img--desktop {
    display: block;
  }
  .footer .footer-information .footer-information-image .footer-information-image__img--mobile {
    display: none;
  }
  .footer .footer-information .footer-information-social-media-mobile {
    display: none;
  }
  .footer .footer-information .footer-information-travel {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 10px;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-destinations__title,
  .footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-policy__title,
  .footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-destinations__title,
  .footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-policy__title {
    font-size: 20px;
    white-space: nowrap;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-destinations__link,
  .footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-policy__link,
  .footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-destinations__link,
  .footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-policy__link {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-destinations__link:hover,
  .footer .footer-information .footer-information-travel .footer-information-travel-destinations .footer-information-travel-policy__link:hover,
  .footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-destinations__link:hover,
  .footer .footer-information .footer-information-travel .footer-information-travel-policy .footer-information-travel-policy__link:hover {
    color: #537FE7;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container {
    grid-template-rows: 1fr 1fr;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights .footer-information-travel-flight-media-container-flights__title {
    font-size: 20px;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights .footer-information-travel-flight-media-container-flights__link {
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-flights .footer-information-travel-flight-media-container-flights__link:hover {
    color: #537FE7;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-social-media-desktop {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-social-media-desktop .footer-information-travel-flight-media-container-social-media-desktop__title {
    font-size: 18px;
  }
  .footer .footer-information .footer-information-travel .footer-information-travel-flight-media-container .footer-information-travel-flight-media-container-social-media-desktop .footer-information-travel-flight-media-container-social-media-desktop-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .footer .footer-aditionals {
    background-color: #F1F0FF;
  }
  .footer .footer-aditionals .footer-aditionals__text {
    padding: 10px 0px 10px 100px;
    font-size: 13px;
  }
}/*# sourceMappingURL=footer.component.css.map */