/* You can add global styles to this file, and also import other style files */
/* Import of the variables and mixins used in each of the component style sheets.*/
/* Mixin that applies the flexbox property and modifies the value of the align property */
/*Mixin to set flex align and justification*/
/* Mixin to set position, left, transform, background color, and border radius properties*/
/*Mixin to set flex direction and justification*/
/* Mixin to set background color and border radius*/
/* Mixin to set the color of the letter and the decoration of the text*/
/* Mixin to set width and height*/
/* Mixin to set the type of container position, the property left, top and background color */
/* Mixin to set font size and font color*/
/* Mixin to set position, font color, bottom, right and top */
/* Mixin to set the number of columns and margin*/
/* Mixin to set the top margin, left margin and right margin*/
/* Custom website font */
@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
/* Global styles for the body tag */
body {
  font-family: "Roboto Regular", sans-serif;
  margin: 0px;
  padding: 0px;
}

.main .promotional {
  position: relative;
  z-index: 1;
}
.main .promotional .promotional__img--desktop {
  display: none;
}
.main .promotional .promotional__img--mobile {
  display: block;
  width: 100%;
  height: 100%;
}
.main .promotional .promotional-information {
  position: absolute;
  top: 35px;
  left: 10px;
  margin: 5px;
}
.main .promotional .promotional-information .promotional-information__title {
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
.main .promotional .promotional-information .promotional-information__text {
  font-size: 15px;
  color: white;
  max-width: 400px;
}
.main .promotional .promotional-information .promotional-information__btn {
  background-color: #C20114;
  border-radius: 20px;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 10px 60px;
  font-weight: bold;
  font-size: 17px;
}
.main .promotional .promotional-information .promotional-information__btn:hover {
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.356);
  border: 1px solid white;
}

@media (min-width: 768px) and (max-width: 992px) {
  .main .promotional .promotional__img--desktop {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main .promotional .promotional__img--mobile {
    display: none;
  }
  .main .promotional .promotional-information {
    left: 80px;
  }
  .main .promotional .promotional-information .promotional-information__title {
    font-size: 55px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .main .promotional .promotional-information .promotional-information__text {
    font-size: 20px;
    color: white;
    margin: 0px;
    max-width: 600px;
  }
  .main .promotional .promotional-information .promotional-information__btn {
    background-color: #C20114;
    border-radius: 20px;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 15px;
  }
  .main .promotional .promotional-information .promotional-information__btn:hover {
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid white;
  }
}
@media (min-width: 993px) {
  .main .promotional .promotional__img--desktop {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main .promotional .promotional__img--mobile {
    display: none;
  }
  .main .promotional .promotional-information {
    top: 100px;
    left: 80px;
  }
  .main .promotional .promotional-information .promotional-information__title {
    font-size: 55px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .main .promotional .promotional-information .promotional-information__text {
    font-size: 20px;
    color: white;
    margin: 0px;
    max-width: 600px;
  }
  .main .promotional .promotional-information .promotional-information__btn {
    background-color: #C20114;
    border-radius: 20px;
    color: white;
    border: none;
    margin-top: 35px;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 15px;
  }
  .main .promotional .promotional-information .promotional-information__btn:hover {
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid white;
  }
}
/* Media queries from different mobile devices for the ad section*//*# sourceMappingURL=main.component.css.map */