/* You can add global styles to this file, and also import other style files */
/* Import of the variables and mixins used in each of the component style sheets.*/
/* Mixin that applies the flexbox property and modifies the value of the align property */
/*Mixin to set flex align and justification*/
/* Mixin to set position, left, transform, background color, and border radius properties*/
/*Mixin to set flex direction and justification*/
/* Mixin to set background color and border radius*/
/* Mixin that changes the color of the letter and the decoration of the text*/
/* Custom website font */
@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
/* Global styles for the body tag */
body {
  font-family: "Roboto Regular", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Styles for the navigation bar */
.navbar {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Styles for the left part of the navigation bar */
  /* Styles for the right part of the navigation bar */
  /* Styles to hide the mobile version of the navigation bar */
  /* Styles to hide the mobile version of the menu */
}
.navbar .navbar-left {
  display: flex;
  align-items: center;
  margin-left: 40px;
  /* Styles for the links on the left side of the navigation bar */
}
.navbar .navbar-left .navbar-left__link {
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  white-space: nowrap;
  /* Styles for left side links on hover */
  /* Styles for the Information link */
}
.navbar .navbar-left .navbar-left__link:hover {
  background-color: #537FE7;
  border-radius: 10px;
}
.navbar .navbar-left .navbar-left__link.navbar-left__link--information {
  position: relative;
  /* Styles for the modal window container*/
}
.navbar .navbar-left .navbar-left__link.navbar-left__link--information .navbar-left-modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  top: 60px;
  box-shadow: 0px 0px 5px #d0d0dd;
  padding: 20px 55px;
  /*Styles for modal window icon*/
  /*Styles for modal window links*/
}
.navbar .navbar-left .navbar-left__link.navbar-left__link--information .navbar-left-modal .navbar-left-modal__icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 20px;
  bottom: 140px;
}
.navbar .navbar-left .navbar-left__link.navbar-left__link--information .navbar-left-modal .navbar-left-modal__link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 15px;
}
.navbar .navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
  /* Styles for the links on the right side of the navigation bar */
}
.navbar .navbar-right .navbar-right__link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  /* Styles for right side links on hover */
  /* Styles for the icons on the right side of the navigation bar */
}
.navbar .navbar-right .navbar-right__link:hover {
  background-color: #537FE7;
  border-radius: 10px;
}
.navbar .navbar-right .navbar-right__link .navbar-right__icon {
  margin: 5px;
}
.navbar .navbar-mobile {
  display: none;
}
.navbar .navbar-mobile-menu {
  display: none;
}

@media (min-width: 280px) and (max-width: 912px) {
  /* Styles for the navigation bar in mobile view */
  .navbar {
    grid-template-columns: 1fr;
    justify-content: center;
    height: 60px;
    /* Styles for left and right navigation bar elements */
    /* Styles for the container of the mobile version of the navigation bar */
  }
  .navbar .navbar-left,
  .navbar .navbar-right {
    display: none;
  }
  .navbar .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
  }
  .navbar .navbar-mobile-menu {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .navbar .navbar-mobile-menu .navbar-mobile-menu-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 60px;
  }
  .navbar .navbar-mobile-menu .navbar-mobile-menu-links {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    z-index: 3;
  }
  .navbar .navbar-mobile-menu .navbar-mobile-menu-links .navbar-mobile-menu-links__line {
    width: 90%;
  }
  .navbar .navbar-mobile-menu .navbar-mobile-menu-links .navbar-mobile-menu-links__link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
  }
}/*# sourceMappingURL=navbar.component.css.map */