@import '../../../styles.scss';

.footer{
  margin-top: 60px;

  /* Styles for the footer section*/
  .footer-information{
    display: grid;
    grid-template-columns: 1fr;
    background-color: $footer-background-color;
    padding: 15px 15px 40px 15px;

    .footer-information-image{
      @include set-flex-align-and-justify-content(center,flex-start);

      .footer-information-image__img--desktop{
        display: none;
      }

      .footer-information-image__img--mobile{
        padding: 10px 0px;
        width: 140px;
      }
    }

    .footer-information-social-media-mobile{
      padding-top: 20px;
      padding-bottom: 30px;

      .footer-information-social-media-mobile__title{
        font-size: 13px;
      }

      .footer-information-social-media-mobile-icons{

        .footer-information-social-media-mobile-icons__icon{
          margin-right: 10px;
        }
      }
    }

    .footer-information-travel{
      display: grid;
      grid-template-columns: 1fr;

      .footer-information-travel-destinations,
      .footer-information-travel-policy{

        display: flex;
        flex-direction: column;

        .footer-information-travel-destinations__title,
        .footer-information-travel-policy__title{
          font-size: 15px;
        }

        .footer-information-travel-destinations__link,
        .footer-information-travel-policy__link{
          margin-left: 10px;
          @include set-color-font-and-text-decoration($primary-text-color, none);
          margin-bottom: 5px;
          font-size: 14px;

          &:hover{
            color: $hover-color-navigation-bar;
          }
        }
      }

      .footer-information-travel-flight-media-container{
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: flex-start;

        .footer-information-travel-flight-media-container-flights{
          display: flex;
          flex-direction: column;

          .footer-information-travel-flight-media-container-flights__title{
            font-size: 15px;
          }

          .footer-information-travel-flight-media-container-flights__link{
            margin-left: 10px;
            @include set-color-font-and-text-decoration($primary-text-color, none);
            margin-bottom: 5px;
            font-size: 14px;

            &:hover{
            color: $hover-color-navigation-bar;
            }
          }
        }

        .footer-information-travel-flight-media-container-social-media-desktop{
          display: none;
        }

      }
    }
  }

  /*Styles for the footer additional information section*/
  .footer-aditionals{
    background-color: $footer-background-color-secondary-color;

    .footer-aditionals__text{
      padding: 5px 10px;
      color:$text-color-footer-aditionals-section;
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px){
  .footer{

    /* Styles for the footer section*/
    .footer-information{
      grid-template-columns: 1fr 1fr;
      background-color: $footer-background-color;
      padding: 10px 0px;

      .footer-information-image{
        @include set-flex-align-and-justify-content(center,flex-start);
        margin-left: 100px;

        overflow: hidden;
        .footer-information-image__img--desktop{
          display: block;
        }

        .footer-information-image__img--mobile{
          display: none;
        }
      }

      .footer-information-social-media-mobile{
        display: none;
      }

      .footer-information-travel{
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 20px;
        gap: 10px;

        .footer-information-travel-destinations,
        .footer-information-travel-policy{

          .footer-information-travel-destinations__title,
          .footer-information-travel-policy__title{
            font-size: 20px;
            white-space: nowrap;
          }

          .footer-information-travel-destinations__link,
          .footer-information-travel-policy__link{

            font-size: 18px;
            margin-bottom: 10px;

            &:hover{
            color: $hover-color-navigation-bar;
            }

          }
        }

        .footer-information-travel-flight-media-container{
          grid-template-rows: 1fr 1fr;

          .footer-information-travel-flight-media-container-flights{

            .footer-information-travel-flight-media-container-flights__title{
              font-size: 20px;
            }

            .footer-information-travel-flight-media-container-flights__link{
              margin-left: 10px;
              font-size: 18px;
              margin-bottom: 10px;

              &:hover{
              color: $hover-color-navigation-bar;
              }
            }
          }

          .footer-information-travel-flight-media-container-social-media-desktop{
            display: flex;
            flex-direction: column;
            padding-right: 10px;

            .footer-information-travel-flight-media-container-social-media-desktop__title{
              font-size: 18px;
            }

            .footer-information-travel-flight-media-container-social-media-desktop-icons{
              display: flex;
              flex-direction: row;
              gap: 10px;

            }
          }

        }
      }
    }

    /*Styles for the footer additional information section*/
    .footer-aditionals{
      background-color: $footer-background-color-secondary-color;

      .footer-aditionals__text{
        padding: 10px 0px 10px 100px;
        font-size: 13px;
      }
    }
  }
}


