@import '../../../styles.scss';

.navbar{
  height: 40px;

  /* Styles for the mobile navigation bar container*/
  .navbar-mobile{
    @include set-flex-align-and-justify-content(center, space-between);
    margin: 5px 10px;
    position: relative;
  }
  /* Styles for the navigation menu container in mobile version*/
  .navbar-mobile-menu{
    @include set-position-top-left-and-background-color(absolute, 0, 0, white);
    display: block;
    @include set-width-and-height(100%,100%);
    z-index: 2;

    &.slide-in {
      transition: transform 0.5s ease-in-out;
      transform: translateX(-100%);
    }
    &.slide-in.show {
      transform: translateX(0);
    }

    .navbar-mobile-menu-icons{
      @include set-flex-align-and-justify-content(center, space-between);
      background-color: white;
      margin: 5px 10px;
      height: 40px;
    }

    .navbar-mobile-menu-links{
      @include set-width-and-height(100%,auto);
      margin-top: 50px;

      .navbar-mobile-menu-links__link{
        @include set-color-font-and-text-decoration($primary-text-color, none);
        display: flex;
        flex-direction: column;
        margin: 25px 10px;
        font-size: 15px;

        &:hover{
          color: $hover-color-navigation-bar;
        }
      }
    }
  }

  /*Styles for the information section container located within the mobile navigation bar menu in mobile version */
  .navbar-mobile-information{
    @include set-position-top-left-and-background-color(absolute, 0, 0, white);
    display: block;
    @include set-width-and-height(100%,100%);
    z-index: 2;

    &.slide-in {
      transition: transform 0.5s ease-in-out;
      transform: translateX(-100%);
    }
    &.slide-in.show {
      transform: translateX(0);
    }

    .navbar-mobile-information-icons{
      @include set-flex-align-and-justify-content(center, space-between);
      background-color: white;
      margin: 5px 10px;
      height: 40px;
    }

    .navbar-mobile-information__h3{
      margin-left: 10px;
      margin-top: 50px;
    }

    .navbar-mobile-information-links{
      @include set-width-and-height(100%,auto);
      transition: 0.5s ease;

      .navbar-mobile-information-links__link{
        @include set-color-font-and-text-decoration($primary-text-color, none);
        display: flex;
        flex-direction: column;
        margin: 20px 40px;
        font-size: 15px;

        &:hover{
          color: $hover-color-navigation-bar;
        }
      }
    }
  }

  /* Styles for the link container on the left side of the navigation bar on the desktop*/
  .navbar-left{
    display: none;
  }

  /*Styles for the links container on the right side of the navigation bar on desktop */
  .navbar-right{
    display: none;
  }

}

@media (min-width: 768px){
  .navbar{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* Styles for the mobile navigation bar container*/
    .navbar-mobile{
      display: none;
    }

    /* Styles for the navigation menu container in mobile version*/
    .navbar-mobile-menu{
      display: none;
    }

    /*Styles for the container of the information section located within the navigation bar menu in mobile version */
    .navbar-mobile-information{
      display: none;
    }

    /* Styles for the links container on the left side of the navigation bar on the desktop*/
    .navbar-left{
      @include flex-align(center);
      margin-left: 25px;
      z-index: 2;

      .navbar-left__link{
        @include set-color-font-and-text-decoration($primary-text-color, none);
        margin: 10px;
        padding: 10px;
        white-space: nowrap;
        font-size: 15px;

        &:hover{
          @include set-background-color-and-border-radius($hover-color-navigation-bar, 10px);
        }

        &.navbar-left__link--information {
          position: relative;

          .navbar-left-modal {
            @include set-position-left-transform-background-color-border-radius(absolute, 50%,translateX(-50%), white, 20px);
            top: 60px;
            box-shadow: 0px 0px 5px #d0d0dd;
            width: 240px;
            height: 180px;

            .navbar-left-modal__icon{
              @include set-position-left-transform-background-color-border-radius(absolute, 50%,translateX(-50%), white, 25px);
              bottom: 175px;
            }

            .navbar-left-modal-links{
              display: grid;
              grid-template-columns: 1fr;
              align-items: center;
              @include set-flex-direction-and-justify-content(column, flex-start);
              margin-left: 33px;
              margin-top: 33px;
              margin-bottom: 40px;
              gap: 13px;

              .navbar-left-modal-links__link{
                @include set-color-font-and-text-decoration($primary-text-color, none);
                font-size: 17px;

                &:hover{
                  color: $hover-color-navigation-bar;
                }
              }
            }
          }
        }
      }
    }

    /*Styles for the links container on the right side of the navigation bar on desktop */
    .navbar-right{
      @include set-flex-align-and-justify-content(center, flex-end);
      margin-right: 10px;

      .navbar-right__link{
        @include set-color-font-and-text-decoration($primary-text-color, none);
        @include flex-align(center);
        padding: 10px;
        font-size: 15px;

        &:hover{
          @include set-background-color-and-border-radius($hover-color-navigation-bar, 10px);
        }

        .navbar-right__icon{
          margin: 5px;
        }
      }
    }
  }
}

