@import '../../../styles.scss';

/* Styles for the navigation bar */
.navbar{
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* Styles for the left part of the navigation bar */
  .navbar-left{
    @include flex-align(center);
    margin-left: 40px;

    /* Styles for the links on the left side of the navigation bar */
    .navbar-left__link{
      @include set-color-font-and-text-decoration($primary-text-color, none);
      margin: 10px;
      padding: 10px;
      white-space: nowrap;

      /* Styles for left side links on hover */
      &:hover{
        @include set-background-color-and-border-radius($hover-color-navigation-bar, 10px);
      }

      /* Styles for the Information link */
      &.navbar-left__link--information {
        position: relative;

        /* Styles for the modal window container*/
        .navbar-left-modal {
          @include set-position-left-transform-background-color-border-radius(absolute, 50%,translateX(-50%), white, 10px);
          top: 60px;
          box-shadow: 0px 0px 5px #d0d0dd;
          padding: 20px 55px;

          /*Styles for modal window icon*/
          .navbar-left-modal__icon{
            @include set-position-left-transform-background-color-border-radius(absolute, 50%,translateX(-50%), white, 20px);
            bottom: 140px;
          }

          /*Styles for modal window links*/
          .navbar-left-modal__link{
            @include set-color-font-and-text-decoration($primary-text-color, none);
            @include flex-align(center);
            @include set-flex-direction-and-justify-content(column, center);
            margin-bottom: 8px;
            font-size: 15px;
          }
        }
      }
    }
  }

  /* Styles for the right part of the navigation bar */
  .navbar-right{
    @include set-flex-align-and-justify-content(center, flex-end);
    margin-right: 80px;

    /* Styles for the links on the right side of the navigation bar */
    .navbar-right__link{
      @include set-color-font-and-text-decoration($primary-text-color, none);
      @include flex-align(center);
      padding: 10px;

      /* Styles for right side links on hover */
      &:hover{
        @include set-background-color-and-border-radius($hover-color-navigation-bar, 10px);
      }

      /* Styles for the icons on the right side of the navigation bar */
      .navbar-right__icon{
        margin: 5px;
      }
    }
  }

  /* Styles to hide the mobile version of the navigation bar */
  .navbar-mobile{
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 912px){
  /* Styles for the navigation bar in mobile view */
  .navbar{
    grid-template-columns: 1fr;
    justify-content: center;
    height: 60px;

    /* Styles for left and right navigation bar elements */
    .navbar-left,
    .navbar-right{
      display: none;
    }

    /* Styles for the container of the mobile version of the navigation bar */
    .navbar-mobile{
      @include set-flex-align-and-justify-content(center, space-around);
    }
  }
}
