@import '../../../styles.scss';

/* Styles for the header */
.header{
  height: 80px;
  @include flex-align(center);
  justify-content: flex-end;
}

@media (min-width: 280px) and (max-width: 912px){
  .header{
    display: none;
  }
}
