<main class="main">
  <!-- Promotional section container -->
  <section class="promotional">

    <img class="promotional__img--desktop" src="../../../assets/images/promotional-image-desktop.png" alt="promotional image desktop">
    <img class="promotional__img--mobile" src="../../../assets/images/promotional-image-mobile.jpg" alt="Promotional image mobile">

    <div class="promotional-information">
      <h1 class="promotional-information__title">Take a rest</h1>
      <p class="promotional-information__text">Discover all the offers available at the best prices for the whole  country and the world</p>
      <button class="promotional-information__btn">Buy</button>
    </div>
  </section>





  <!-- Main destination container -->
  <!-- <section class="destinations">

    <h1 class="destinations__title">Offers</h1>

    <div class="destinations-cards">

      <div class="destinations-card">
        <img class="destinations-card__img" src="../../../assets/images/chicago-city.png" alt="Chicago city">
        <h2 class="destinations-card__title">Chicago</h2>
        <h2 class="destinations-card__text">From $600.00</h2>
      </div>


      <div class="destinations-card">
        <img class="destinations-card__img" src="../../../assets/images/porto-city.jpg" alt="Porto city">
        <h2 class="destinations-card__title">Porto</h2>
        <h2 class="destinations-card__text">From $600.00</h2>
      </div>


      <div class="destinations-card">
        <img class="destinations-card__img" src="../../../assets/images/chicago2-city.png" alt="Chicago city">
        <h2 class="destinations-card__title">Chicago</h2>
        <h2 class="destinations-card__text">From $600.00</h2>
      </div>
    </div>
  </section> -->

  <!-- Main container for the announcement section -->
  <!-- <aside class="advertisement">

    <div class="advertisement-image" >
      <img class="advertisement-image__img"  src="../../../assets/images/advertisement-img.png" alt="advertisement image on desktop">
    </div>

    <div class="advertisement-content" >

      <h1 class="advertisement-content__title">Our destinations</h1>
      <h2 class="advertisement-content__subtitle">Discover de world</h2>
      <p class="advertisement-content__description">Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
    </div>
  </aside> -->
</main>
