<main class="main">
  <!-- Promotional section container -->
  <section class="promotional">
    <!-- Promotional image on desktop -->
    <img class="promotional__img--desktop" src="../../../assets/images/promotional-image-desktop.png" alt="promotional image desktop">

    <!-- Promotional image on mobile -->
    <img class="promotional__img--mobile" src="../../../assets/images/promotional-image-mobile.jpg" alt="Promotional image mobile">

    <!-- Promotional information container -->
    <div class="promotional-information">
      <!-- Title of the promotional section -->
      <h1 class="promotional-information__title">Take a rest</h1>
      <!-- Descriptive text of the promotional section -->
      <p class="promotional-information__text">Discover all the offers available at the best prices for the whole  country and the world</p>
      <!-- Buy button in the promotional section -->
      <button class="promotional-information__btn">Buy</button>
    </div>
  </section>

  <!-- Main destination container -->
  <section class="destinations">
    <!-- Destination section title -->
    <h2 class="destinations__title">Offers</h2>
    <!-- Destination Card Container -->
    <div class="destinations-cards">
      <!-- Fate card 1 -->
      <div class="destinations-card">
        <img class="destinations-card__img" src="../../../assets/images/chicago-city.png" alt="Chicago city">
        <h4 class="destinations-card__title">Chicago</h4>
        <p class="destinations-card__text">From $600.00</p>
      </div>

      <!-- Fate card 2 -->
      <div class="destinations-card">
        <img class="destinations-card__img" src="../../../assets/images/porto-city.jpg" alt="Porto city">
        <h4 class="destinations-card__title">Porto</h4>
        <p class="destinations-card__text">From $600.00</p>
      </div>

      <!-- Fate card 3 -->
      <div class="destinations-card">
        <img class="destinations-card__img" src="../../../assets/images/chicago2-city.png" alt="Chicago city">
        <h4 class="destinations-card__title">Chicago</h4>
        <p class="destinations-card__text">From $600.00</p>
      </div>
    </div>
  </section>
</main>
