/* Mixin that applies the flexbox property and modifies the value of the align property */
@mixin flex-align($align){
  display: flex;
  align-items: $align;
}

/*Mixin to set flex align and justification*/
@mixin set-flex-align-and-justify-content($align, $justify-content){
  display: flex;
  align-items: $align;
  justify-content: $justify-content;
}

/* Mixin to set position, left, transform, background color, and border radius properties*/
@mixin set-position-left-transform-background-color-border-radius($position, $left, $transform, $background-color, $border-radius){
  position: $position;
  left: $left;
  transform: $transform;
  background-color: $background-color;
  border-radius: $border-radius;
}

/*Mixin to set flex direction and justification*/
@mixin set-flex-direction-and-justify-content($flex-direction,$justify-content){
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

/* Mixin to set background color and border radius*/
@mixin set-background-color-and-border-radius($background-color, $border-radius){
  background-color: $background-color;
  border-radius: $border-radius;
}

/* Mixin to set the color of the letter and the decoration of the text*/
@mixin set-color-font-and-text-decoration($color-font, $text-decoration){
  color: $color-font;
  text-decoration: $text-decoration;
}

/* Mixin to set width and height*/
@mixin set-width-and-height($width, $height){
  width: $width;
  height: $height;
}

/* Mixin to set the type of container position, the property left, top and background color */
@mixin set-position-top-left-and-background-color($position,$top,$left,$background-color){
  position: $position;
  top: $top;
  left: $left;
  background-color: $background-color;
}

/* Mixin to set font size and font color*/
@mixin set-font-size-and-font-color($font-size, $font-color){
  font-size: $font-size;
  color: $font-color;
}

/* Mixin to set position, font color, bottom, right and top */
@mixin set-position-font-color-bottom-right-top($position, $font-color, $bottom, $right, $top){
  position: $position;
  color: $font-color;
  bottom: $bottom;
  right: $right;
  top: $top;
}

/* Mixin to set the number of columns, height and margin*/
@mixin set-grid-template-columns-height-margin($grid-template-columns,$height,$margin){
  display: grid;
  grid-template-columns: $grid-template-columns;
  height: $height;
  margin: $margin;
}

/* Mixin to change the top margin, left margin and height*/
@mixin set-margin-top-height-margin-left($margin-top, $height, $margin-left){
  margin-top: $margin-top;
  height: $height;
  margin-left: $margin-left;
}
