$primary-text-color: black;
$hover-color-navigation-bar: #537FE7;
$promotional-section-button-color:#C20114;
$ad-section-subtitle-color:#C0EEF2;
$footer-background-color: #E7E6F6;
$footer-background-color-secondary-color: #F1F0FF;
$text-color-footer-aditionals-section:#9292A0;
